@import "mobility";
@import "vertical";
@import "section";

.feedback {
  &__container {
    @include section;
  }
  
  &__item {
    line-height: vertical(2);
    &:not(:last-of-type) { 
      padding-bottom: vertical(2); 
    }
  }
}

.quote {
  &__container {
    @include wide {
      max-width: 50ch;
    }
    @include narrow {
      max-width: 90%;
    }
    margin: auto;
    
    text-align: left;
    hanging-punctuation: first;
  }
}