@import "vertical";

.feedback {
  &__item {
    line-height: vertical(2);
    padding-bottom: vertical(2);
  }
}

.quote {
  &__container {
    max-width: 50ch;
    margin: auto;
    
    text-align: left;
    hanging-punctuation: first;
  }
}