$accent: #8AF3FF;
$accent-two: #09BC8A;

@import "fonts";
@import "pressable";
@import "feedback";
@import "clear";
@import "mobility";
@import "vertical";
@import "section";

.introduction {
  &__container {
    padding: vertical(1) 0;
    margin-bottom: vertical(1);
  }
  
  &__huge {
    font-size: 2em;
    line-height: vertical(4);
  }
  
  &__small {
    line-height: vertical(2);
  }
}

.option {
  &__button {
    display: inline-block;
    
    padding: vertical(1);
    
    border-radius: 5px;
    text-decoration: none;
    color: white;
    
    width: 25ch;
    
    &--one {
      @include pressable($accent-two);
    }
  
    &--two {
      @include pressable($accent);
    }
  }
  
  &__huge {
    font-size: larger;
  }
  
  &__small {
    display: block;
  }
  
  &__explan {
    margin-top: vertical(1);
    line-height: vertical(2);
  }
}

.hire {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include narrow {
      flex-direction: column;
    }
    
    @include wide {
      flex-direction: row;
    }
    
    @include section;
  }
  
  &__or {
    margin: vertical(1);
    
    @include wide {
      position: relative;
      bottom: 14px;
    }
  }
}

.ask {
  @include section;
  
  $muted: #9E9AA7;
  
  &__button {
    text-decoration: none;
    line-height: vertical(2);
    
    color: $muted;
    border-bottom: 1px solid $muted;
    &:hover { border-color: transparent; }
  }
}